
.wd-title {
    text-align: center;
    background-color: black;
    font-family: Copperplate, serif;
    color: white;
    font-size: xxx-large;

}
.wd-profile-title {
    text-align: center;
    background-color: black;
    font-family: Copperplate, serif;
    color: white;
    font-size: large;

}
.wd-slider {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;
}
.each-slide-effect > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 500px;
    overflow: scroll;

}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.inline{
    display: inline;
    margin-left: 20px;
    margin-right: 130px;
    color: black;
}


.block {
    display: block;
    width: 50%;
    margin-top: 10px;
    font-size: 16px;
    margin-left: 10px;


}
.wd-profile{
    float: right;
    margin-right: 10px;
}

.wd-nudge-up{
    top: 10px;
}

.nopadding {
    display: inline-block;
}
.tab-color{
    background-color: black;
    color: white;
}

.move-right{
    float: right;
}

.wd-left{
    left: 100px;
}
.wd-slide-border{
    border-style: solid;
    border-color: white;
}